<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../static/common.css">
</head>
<body>
<div class="form">
    <form method="post" th:action="@{/user/reg}">
        <div class="d1"><label>用户名：</label><input type="text" name="username"></div>
        <div class="d2"><label>输密码：</label><input type="password" name="password"></div>
        <div class="d3"><input type="submit" value="注册" class="a"></div>
    </form>
</div>
</body>
</html>